name: Workflow Test Template
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
      targets:
        required: false
        type: string
        default: "[]"
permissions: read-all

jobs:
  run:
    runs-on: ${{ inputs.runs-on }}
    # this is to prevent arm64 jobs from running at forked projects
    if: inputs.arch != 'arm64' || github.repository == 'etcd-io/raft'
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJSON(inputs.targets) }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - id: goversion
        run: echo "goversion=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ steps.goversion.outputs.goversion }}
      - env:
          TARGET: ${{ matrix.target }}
        run: |
          go clean -testcache
          case "${TARGET}" in
            linux-amd64-unit-4-cpu-race)
              GOARCH=amd64 PASSES='unit' RACE='true' CPU='4' ./scripts/test.sh -p=2
              ;;
            linux-386-unit-1-cpu)
              GOARCH=386 PASSES='unit' RACE='false' CPU='1' ./scripts/test.sh -p=4
              ;;
            linux-arm64-unit-4-cpu-race)
              GOARCH=arm64 PASSES='unit' RACE='true' CPU='4' ./scripts/test.sh -p=2
              ;;
            *)
              echo "Failed to find target"
              exit 1
              ;;
          esac
